<!-- files:
  "/etc/httpd/conf.d/proxy-pass.conf":
    mode: 000644
    owner: root
    group: root
    content: |
      ProxyPass /wss/ wss://127.0.0.1:5000/
      ProxyPassReverse /wss/ wss://127.0.0.1:5000/

  "/etc/httpd/conf.modules.d/99-mod_proxy_wstunnel.conf":
    mode: 000644
    owner: root
    group: root
    content: |
      <IfModule !proxy_wstunnel_module>
      LoadModule proxy_wstunnel_module modules/mod_proxy_wstunnel.so
      </IfModule> -->
