{% extends 'deal/base.html' %}

{% block title %}Board{% endblock title %}

{% block content %}
{% load static %}
<a href="{% url 'deal:logout' %}">Logout</a>
<a href="{% url 'deal:lobby' %}">Back to Lobby</a>
<ul>
<li> {{ username }}  </li>
{% for hand in hand_list_for_template_images %}
    <p class="hand" data-handnum="{{ forloop.counter0 }}">Hand</p>
    <button type="button" class="hand-button" data-handnum="{{ forloop.counter0 }}">Claim hand</button>
    <br>
    {% for card in hand %}
        <img src="{% static card %}" data-handnum="{{ forloop.parentloop.counter0 }}" data-cardnum="{{ forloop.counter0 }}" width="80px"/>
    {% endfor %}
    <br>
{% endfor %}
</ul>
<button type="button" id="leave">Leave seat</button>
<button type="button" id="start">Start game</button>
{% endblock content %}

{% block script %}
<script>
    var table_id = {{ table_id }}
    var in_play = false;
    var current_player = -1;
    var user = "{{ username }}";

    // Create a new WebSocket, connected to hand-claiming
    handsocket = new WebSocket("ws://" + window.location.host + "/table/" +
                               table_id + "/");

    playsocket = new WebSocket("ws://" + window.location.host + "/table/" +
                               table_id + "/play/");
    /**
     *  Function listens for successful WebSocket connection; if successful,
     *  this function is triggered.
     */
    handsocket.onopen = function() {
        console.log("Connected");
    }

    /**
     *  Function listens for receiving WebSocket messages. If message is
     *  is received, function is triggered.
     *
     *  @param e: contains the data of the sent message, details of which
     *  found in consumers.py
     */
    handsocket.onmessage = function(e) {

        // Parse data of message, have access to all details sent
        var data = JSON.parse(e.data);

        // Only triggers for first connection, in ws_connect (consumers.py)
        if( data["first_connect"] == true )
        {
            // Loop through all users at the table
            for(var i = 0; i < data["users"].length; i++)
            {
                // Variable stores all links where the data-handnum attribute
                // matches another user's handnum value via dictionary
                var takenHand = $('.hand').filter(function() {
                    return $(this).data('handnum') ==
                           data["users_handnum"][data["users"][i]];
                });

                // Set inner HTML code to user's username
                takenHand.html(data["users"][i]);
            }

        }

        // Only triggers for disconnection, in ws_disconnect (consumers.py)
        else if( data["disconnect"] == true )
        {
            // Variable takes any links with the same username
            var takenHand = $('.hand').filter(function () {
                return $(this).html() == data["username"];
            });

            // Resets links' inner HTML back to default
            takenHand.html("Hand");
        }

        // Triggered if messages sent are from ws_message (consumers.py)
        else
        {
            // -1 means user chose to leave their current hand
            if( data["handnum"] == -1)
            {
                // Variable stores link with user's name
                var leave = $('.hand').filter(function() {
                   return $(this).html() == data["username"]
                });

                // Inner HTML set to default, effectively left hand
                leave.html("Hand");
            }

            // Gets the link with the received handnum
            var hand = $('.hand').filter(function () {
                return $(this).data('handnum') == data["handnum"];
            });

            // Only allow hand changing if no one else claimed a hand
            if( hand.html() == "Hand" )
            {
                // Variable stores link with user's name
                var leave = $('.hand').filter(function() {
                   return $(this).html() == data["username"]
                });

                // Reset user's hand to default, set new hand to user's name
                leave.html("Hand");
                hand.html(data["username"]);
            }
        }
    }

    /**
     *  Function listening for disconnecting WebSocket; if WebSocket
     *  connection is closed, trigger this function.
     */
    handsocket.onclose = function() {
        console.log("Goodbye");
    }

    /**
     *  JQuery function: if any HTML element with the attribute class="hand" is
     *  clicked, send a message containing element's data-handnum value back to
     *  ws_message via WebSocket
     */
    $('.hand-button').click(function() {
        handsocket.send($(this).attr("data-handnum"));
    });

    /**
     *  JQuery function: if HTML element with the attribute id="leave" is
     *  clicked, send the number -1 back to ws_message via WebSocket
     */
    $("#leave").click(function() {
       handsocket.send(-1);
    });

    /**
     *  JQuery function: clicking an HTML element with id="start" will begin
     *  a game via the playsocket.
     */
    $("#start").click(function() {

        // Get any hand elements that are still unclaimed
        var fullTable = $('.hand').filter(function() {
           return $(this).html() == "Hand";
        });

        // If any hand is unclaimed, don't allow play
        if( fullTable.length != 0 )
        {
            alert("All hands must be claimed before play");
        }
        else
        {
            playsocket.send("Start");
        }
    });

    /**
     *  Function listens for receiving WebSocket messages. If message is
     *  is received, function is triggered. (playsocket)
     *
     *  @param e: contains the data of the sent message, details of which
     *  found in consumers.py
     */
    playsocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log(data);

        // Finishing game code not yet implemented
        if( data["info"] == "Finish" )
        {
            in_play = false;
            current_player = -1;
        }

        // Starting game sets current player
        else if( data["info"] == "Start" )
        {
            in_play = true;
            current_player = data["nextplay"]
        }
        else
        {
            in_play = true;

            // SuitError means wrong suit was played, run code if not the case
            if(data["info"] != "SuitError")
            {
                // First number is hand number, second is card number
                var hand_and_card = data["info"].split(" ");
                var handnum = parseInt(hand_and_card[0])
                var cardnum = parseInt(hand_and_card[1])

                // Filter imgs to get matching card, hide it to show played
                var card = $('img').filter(function() {
                    return $(this).data("handnum") == handnum &&
                           $(this).data("cardnum") == cardnum;
                });
                card.hide()
            }
            current_player = data["nextplay"]
        }
    }

    /**
     *  JQuery function: clicking an img element will send a playsocket message.
     */
    $('img').click(function() {
        // Only run if game is being played
        if( in_play == true )
        {
            // Get the current player's hand
            var playerHand = $('.hand').filter(function() {
                return $(this).html() == user;
            });

            var playerHandnum = playerHand.attr("data-handnum");

            // If handnum doesn't match current player, alert them
            if( $(this).data("handnum") != playerHandnum )
            {
                alert("Please pick your own card");
            }
            else
            {
                // Attempting to play card when it's not their turn triggers alert
                if( current_player != playerHandnum )
                {
                    alert("It's not your turn");
                }
                else
                {
                    // Send message
                    playsocket.send(playerHandnum + " " + $(this).attr("data-cardnum"));
                }
            }
        }
    })


</script>
{% endblock script %}
