.Table {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  height: 100vh;
}

 /*[col1] 33% [col2] 33% [col3] 33% [col4];*/

.HandTop {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.HandRight {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.HandLeft {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.HandBottom{
  grid-column: 2 / 3;
  grid-row: 3/ 4;
}

.BiddingBox{
  grid-column: 1 / 2;
  grid-row: 3/ 4;
}

/*.Table {
  position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	background: #ee3e64;
}

.toplayer {
  position: absolute;
  top: 0%;
  bottom: 66%;
  background: white;
}

.middlelayer {
  position: absolute;
  top: 33%;
  bottom: 33%;
  background: brown;
}

.bottomlayer {
  position: absolute;
  top: 66%;
  bottom: 33%;
}


.HandTop {
  background: blue;
}

.HandRight {
  left: 25%;
  background: green;
}

.HandLeft {
  background: yellow;
}

.HandBottom{
  background: grey;
}*/
